<section class="login-register-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <div class="login-form center">
                    <h4>REGISTER</h4>
                    <form action="#" method="get" accept-charset="utf-8">
                        <div class="field-row register-email">
                           <input type="email" name="email" placeholder="User name *">
                       </div>
                       <div class="field-row register-email">
                           <input type="email" name="email" placeholder="E_mail Address *">
                       </div>
                       <div class="field-row register-password">
                           <input type="password" name="password" placeholder="Password *">
                       </div>
                       <div class="field-row confirm-password">
                           <input type="password" name="confirm-password" placeholder="Confirm Password *">
                       </div>
                       <div class="checkbox">
                           <div class="agree-term left">
                                <input type="checkbox" name="agree" id="agree-term">
                                <label for="agree-term">I Agree to terms & Conditions</label>
                           </div>
                       </div>
                       <div class="button-submit">
                           <button type="submit">REGISTER</button>
                       </div>
                      
                       <p>Already have an Account? Click have to   <a [routerLink] ="['/login']" title="">Login</a></p>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</section>
